body {
  background-color: #fcbec9;
}

#container {
  width: 800px;
  background-color: #ccf7ba;
  /* border: 1px solid red; */
  height: 100%;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
  padding-left: 25px;
  padding-right: 25px;
}

.button-link {
  display: inline-block;
  padding: 4px 4px;
  background-color: #ecfde4;
  color: #fd1941;
  text-decoration: none;
}

.button-link:hover {
  background-color: #abed8f;
  color: #fd1941;
}
