<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <%- include('../shared/head') %>
</head>

<body>
    <div id="container">
            <h1>Register</h1>

            <!-- Display error message if it exists -->
            <% if (locals.error && error) { %>
                <div class="error-message" style="color: yellow">
                    <%= error %>
                </div>
                <% } %>

                    <form action="/auth/register" method="post">
                        <div>
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="username" required placeholder="Username">
                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required placeholder="Password">
                        </div>
                        <button type="submit" class="button-link">Register</button>
                    </form>
                    <div>
                        Already have an account? Please <a href="/auth/login" class="button-link">Login</a>
                    </div>
    </div>
</body>

</html>