<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gator Tot's BS Game Lobby</title>
    <%- include('shared/head') %>
  </head>
  <body>
    <div id="container">
      <%- include('shared/menu') %>
      <h1>
        
        Welcome, <%= username %>!
      </h1>

      Game name: <%= game_name %>
    </div>
  </body>
</html>