<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gator Tots BS</title>
    </head>
    <body>
        <%- include('shared/header') %>
        <%- include('shared/head') %>
        <h1>Hello, <%= username %>!</h1>
    </body>
</html>