<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gator Tots BS</title>
    </head>
    <body>
        <%- include('shared/header') %>
        <h1>Hello, <%= userId %></h1>
    </body>
</html>