<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <script src="/js/main.js" defer></script>

</head>

<body>
    <h1><%= title %></h1>
    <p> Hello <%= name %>!</p>
    <p>Welcome to the game login screen!
        Please <a href="/auth/login">Login</a> or <a href="/auth/register">Register</a>:
    </p>
    <ul>
        <% for(let i = 0; i < 10; i++) { %>
        <li>Item <%= i %></li>
        <% } %>
    </ul>

</body>

</html>